.all-time-top-artist {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.label {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.label button {
    transform: scale(0.8);
}

.artist {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.artist img {
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;
}

.artist h4 {
    font-weight: 500;
}