.artist-detail {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-base);
}

.artist-detail > img {
	width: 16rem;
	height: 16rem;
	border-radius: 50%;
}

.artist-detail > .details {
	width: 70%;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.artist-detail > .details h4 {
	color: var(--light-grey-secondary);
	font-weight: var(--font-regular);
	margin-bottom: var(--spacing-xs);
}

.artist-detail > .details h3 {
	color: var(--blue);
	font-size: var(--font-md);
	font-weight: var(--font-bold);
	margin-bottom: var(--spacing-xs);
}


@media screen and (max-width: 480px) {
	.artist-detail > img {
		width: 12rem;
		height: 12rem;
	}

	.artist-detail > h1 {
		font-size: var(--font-lg);
	}
	
	.artist-detail .details {
		width: 95%;
	}

	.artist-detail .details h4 {
		font-size: var(--font-sm);
	}

	.artist-detail .details h3 {
		font-size: var(--font-base);
	}
}