.artists {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-lg);
}

.artists > .header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.artists > .header > .wrapper {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.artist-wrapper {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: var(--spacing-lg);
}

.artist-card {
	text-align: center;
	cursor: pointer;
}

.artist-card > img {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
}

.artist-card > p {
	margin-top: 0.5rem;
}

.artists .wrapper .active {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	.artists .header {
		flex-direction: column;
		gap: var(--spacing-base);
	}

	.artist-card > img {
		width: 8rem;
		height: 8rem;
	}

	.artist-card > p {
		font-size: var(--font-sm);
	}
}

@media screen and (max-width: 480px) {
	.artists .header h1 {
		font-size: var(--font-lg);
	}

	.artists .header p {
		font-size: var(--font-xs);
	}

	.artist-card > img {
		width: 4rem;
		height: 4rem;
	}

	.artist-card > p {
		font-size: var(--font-xxs);
	}
}