.login {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.login > button {
	width: 12rem;
	height: 2rem;
	border: none;
	border-radius: 0.8rem;
	background: #1cb753;
	color: #ffffff;
	cursor: pointer;
}
