.sidebar {
	width: 5vw;
	height: 100vh;
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
}

.nav-icons {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sidebar img {
	filter: brightness(0) invert(1);
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	z-index: 1;
}

.spotify-logo img {
	filter: invert(61%) sepia(100%) saturate(339%) hue-rotate(88deg) brightness(88%) contrast(109%);
}

.box {
	width: 5vw;
	height: 3rem;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box:hover,
.nav-icons .active {
	background: rgba(82, 82, 117, 0.25);
	border-left: 0.3rem solid rgb(0, 255, 0);
	border-right: 0.3rem solid transparent;
}
