.track-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-lg);
}

.track-detail .detail {
	width: 100%;
	display: flex;
	gap: var(--spacing-lg);
}

.track-detail .detail > img {
	height: 16rem;
	width: 16rem;
}

.track-detail .detail .about {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.track-detail .detail .about h2 {
	color: var(--light-grey-primary);
	font-weight: var(--font-regular);
}

.track-detail .detail .about p {
	color: var(--light-grey-secondary);
	font-weight: var(--font-light);
}

.track-detail .detail .about a {
	text-decoration: none;
	color: var(--white);
	background: var(--spotify-green);
	width: 12rem;
	height: 1rem;
	padding: var(--spacing-base);
	border-radius: 1.125rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.track-detail .detail .about a:hover {
	background-color: var(--spotify-green-fade);
}

.track-detail .info {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.track-detail .info .col {
	width: 20%;
	border: 1px solid rgba(152, 160, 169, 0.2);
	padding: var(--spacing-sm);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-xs);
}

.track-detail .info .col h2 {
	font-size: var(--font-xl);
	font-weight: var(--font-bold);
	color: var(--light-grey-primary);
}

.track-detail .info .col p {
	font-size: var(--font-sm);
	color: var(--light-grey-secondary);
	opacity: 0.8;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.track-detail .detail > img {
		height: 12rem;
		width: 12rem;
	}

	.track-detail .detail .about h1 {
		font-size: var(--font-lg);
	}

	.track-detail .detail .about h2 {
		font-size: var(--font-md);
	}
	
	.track-detail .detail .about p {
		font-size: var(--font-sm);
	}
}

@media screen and (max-width: 480px) {
	.track-detail .detail {
		flex-direction: column;
		align-items: center;
	}

	.track-detail .detail > img {
		height: 10rem;
		width: 10rem;
	}

	.track-detail .detail .about {
		align-items: center;
		text-align: center;
	}

	.track-detail .detail .about h1 {
		font-size: var(--font-md);
	}

	.track-detail .detail .about h2 {
		font-size: var(--font-base);
	}
	
	.track-detail .detail .about p {
		font-size: var(--font-xs);
	}

	.track-detail .detail .about a {
		width: 8rem;
		height: 0.8rem;
		font-size: var(--font-xs);
	}

	.track-detail .info .col {
		width: 50%;
	}

	.track-detail .info .col h2 {
		font-size: var(--font-md);
	}
	
	.track-detail .info .col p {
		font-size: var(--font-xs);
	}
}
