.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    width: 100%;
}

.user img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.default {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(163deg) brightness(100%) contrast(103%);
    border: 2px solid #f00;
    padding: 0.5rem;
}

.user .info {
    display: flex;
    gap: var(--spacing-base);
    text-align: center;
}

.user .info p {
    color: var(--spotify-green);
    font-size: var(--font-base);
    font-weight: var(--font-bold);
}

.user .info h5 {
    color: var(--light-grey-primary);
    font-size: var(--font-xs);
    font-weight: var(--font-light);
}

@media screen and (max-width: 480px) {
    .user img {
        width: 5rem;
        height: 5rem;
    }

    .user h1 {
        font-size: var(--font-lg);
    }
}
